$base : #fff;
$black : #000;
$nav  : #1a1a1a;

$img : '../images/';
$bg  : '../images/backgrounds/';
$ico : '../images/icons/';

$bold       : 'OpenSans-Bold';
$boldi      : 'OpenSans-BoldItalic';
$boldex     : 'OpenSans-Extrabold';
$boldesi    : 'OpenSans-ExtraboldItalic';
$light      : 'OpenSans-Light';
$lighti     : 'OpenSansLight-Italic';
$semibold   : 'OpenSans-Semibold';
$regular    : 'OpenSans-Regular';
$open       : 'OpenSans';